<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price History Tracker</title>
  </head>
  <% if(valid){ %>
  <h1>Product Editted successfully</h1>
  <% }else{ %>
  <h1>Something went wrong, some fields might be empty or invalid.</h1>
  <% } %>
  <a href="/products">All Products</a>
  <a href="/home">Home</a>
  <body></body>
</html>
