<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
      <div>
        <label for="First Name">First Name</label>
        <input type="text" id="First Name" placeholder="First Name" name="firstName" />
      </div>
      <div>
        <label for="Last Name">Last Name</label>
        <input type="text" id="Last Name" placeholder="Last Name" name="lastName" />
      </div>
      <div>
        <label for="Username">Username</label>
        <input type="text" id="Lastname" placeholder="Username" name="userName"/>
      </div>
      <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" placeholder="Email" name="email"/>
      </div>
      <div>
        <label for="contact">Contact Number</label>
        <input type="text" id="contact" placeholder="Contact Number" name="contactNumber"/>
      </div>
      <div>
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" placeholder="Date of Birth"  name="dob"/>
      </div>
      <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" placeholder="Password" name="password"/>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
